* {
    margin: 0;
    padding: 0;
}

/*Estilo del cuerpo*/
* {
    box-sizing: border-box;
}

body {
    background: url(../imagenes/fondito.jpg);
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
}

/*anclas*/
a {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

a:hover {
    color: red;
}

/*imagen de logo con rotacion*/

.imagentransfor {
    img:hover {
        transform: scale(1.5);
        align-items: center;
    }
}

/*fin de ancla*/
.paginas {
    ul {
        display: flex;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    font-weight: bolder;
    text-decoration-color: black;
    text-align: center;
    padding: 1em;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration-color: black;
    text-align: center;
    padding: 1em;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-decoration-color: black;
    text-align: center;
    padding: 1em;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-decoration-color: black;
    text-align: center;
    padding: 1em;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    text-decoration-color: black;
    text-align: center;
    padding: 1%;
}


p {
    font-family: cursive;
    color: black;
    font-style: italic;
    padding: 1em;
}

.cabecera {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginas {
    display: flex;
    align-items: center;
}

/*imagenes encolumnadas*/
.imagenes {
    display: grid;
    grid-template-columns: minmax(20%, 25%) minmax(20%, 25%) minmax(20%, 25%) minmax(20%, 25%) minmax(20%, 25%);
    row-gap: 1.5%;
    column-gap: 1%;
}

/*Inicio del Formulario*/
.content {
    .contact-form {
        background: black;
    }
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.content {
    .contact-form form {
        margin: 0;
        padding: 50px;
    }
}

/*/
.content .contact-form form button,
.content .contact-form form input,
.content .contact-form form textarea {
  width: 90%;
  padding: 1em;
  color: black;
  border-bottom: 1px solid black;
}
/*/
.content {

    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 90%;
        padding: 1em;
        color: black;
        border-bottom: 1px solid black;
    }

}

.content {
    .contact-form form {
        background-image: linear-gradient(to right, #e0bbe4 0%, #957dad 50%, #d291bc 60%, #fec8d8 80%, #ffdfd3 90%);
        display: grid;
        grid-template-columns: minmax(20%, 40%) minmax(20%, 40%);
        grid-column-gap: 10%;
    }
}
.content {
    .envia {
    margin: 20%;
    }
  }
  
  /*Fin del formulario*/
.menu {
    text-align: center;
    padding: 1em;
}
.menu  {
    li {
    display: inline-block;
    }
  }

  
.contenido  {
    img {
    align-self: auto;
    }
  }
  
.contenido {
    text-align: center;
    padding: 0;
}

.seleccion {
    padding: center;
    display: grid;
    grid-template-columns: minmax(15%, 25%) minmax(15%, 25%);

}

.envia {
    margin: 30%;
}

/*imagen decorativa en productos*/
.anotador {
    width: 100px;
    height: 100px;
    margin: 100px;
}

.scale {
    transform: scale(2);
}

.skew {
    transform: skew(15deg);
}

/*fin de la imagen decorativa en productos*/
/*Inicio del Footer*/
.footer {
    padding: 2%;
    text-align: center;
    margin-top: center;
}

/*Fin del Footer*/
/*media queri*/

/*# sourceMappingURL=estilos.css.map */